outputs/diff_of_gaussians/octave_1_level0.jpg
outputs/diff_of_gaussians/octave_1_level1.jpg
outputs/diff_of_gaussians/octave_1_level2.jpg
outputs/diff_of_gaussians/octave_1_level3.jpg
outputs/diff_of_gaussians/octave_1_level4.jpg
outputs/diff_of_gaussians/octave_2_level0.jpg
outputs/diff_of_gaussians/octave_2_level1.jpg
outputs/diff_of_gaussians/octave_2_level2.jpg
outputs/diff_of_gaussians/octave_2_level3.jpg
outputs/diff_of_gaussians/octave_2_level4.jpg
outputs/diff_of_gaussians/octave_3_level0.jpg
outputs/diff_of_gaussians/octave_3_level1.jpg
outputs/diff_of_gaussians/octave_3_level2.jpg
outputs/diff_of_gaussians/octave_3_level3.jpg
outputs/diff_of_gaussians/octave_3_level4.jpg
outputs/diff_of_gaussians/octave_4_level0.jpg
outputs/diff_of_gaussians/octave_4_level1.jpg
outputs/diff_of_gaussians/octave_4_level2.jpg
outputs/diff_of_gaussians/octave_4_level3.jpg
outputs/diff_of_gaussians/octave_4_level4.jpg
outputs/diff_of_gaussians/octave_5_level0.jpg
outputs/diff_of_gaussians/octave_5_level1.jpg
outputs/diff_of_gaussians/octave_5_level2.jpg
outputs/diff_of_gaussians/octave_5_level3.jpg
outputs/diff_of_gaussians/octave_5_level4.jpg
outputs/diff_of_gaussians/octave_6_level0.jpg
outputs/diff_of_gaussians/octave_6_level1.jpg
outputs/diff_of_gaussians/octave_6_level2.jpg
outputs/diff_of_gaussians/octave_6_level3.jpg
outputs/diff_of_gaussians/octave_6_level4.jpg
outputs/diff_of_gaussians/octave_7_level0.jpg
outputs/diff_of_gaussians/octave_7_level1.jpg
outputs/diff_of_gaussians/octave_7_level2.jpg
outputs/diff_of_gaussians/octave_7_level3.jpg
outputs/diff_of_gaussians/octave_7_level4.jpg
outputs/diff_of_gaussians/octave_8_level0.jpg
outputs/diff_of_gaussians/octave_8_level1.jpg
outputs/diff_of_gaussians/octave_8_level2.jpg
outputs/diff_of_gaussians/octave_8_level3.jpg
outputs/diff_of_gaussians/octave_8_level4.jpg
outputs/gaussians/octave_1_level0.jpg
outputs/gaussians/octave_1_level1.jpg
outputs/gaussians/octave_1_level2.jpg
outputs/gaussians/octave_1_level3.jpg
outputs/gaussians/octave_1_level4.jpg
outputs/gaussians/octave_1_level5.jpg
outputs/gaussians/octave_2_level0.jpg
outputs/gaussians/octave_2_level1.jpg
outputs/gaussians/octave_2_level2.jpg
outputs/gaussians/octave_2_level3.jpg
outputs/gaussians/octave_2_level4.jpg
outputs/gaussians/octave_2_level5.jpg
outputs/gaussians/octave_3_level0.jpg
outputs/gaussians/octave_3_level1.jpg
outputs/gaussians/octave_3_level2.jpg
outputs/gaussians/octave_3_level3.jpg
outputs/gaussians/octave_3_level4.jpg
outputs/gaussians/octave_3_level5.jpg
outputs/gaussians/octave_4_level0.jpg
outputs/gaussians/octave_4_level1.jpg
outputs/gaussians/octave_4_level2.jpg
outputs/gaussians/octave_4_level3.jpg
outputs/gaussians/octave_4_level4.jpg
outputs/gaussians/octave_4_level5.jpg
outputs/gaussians/octave_5_level0.jpg
outputs/gaussians/octave_5_level1.jpg
outputs/gaussians/octave_5_level2.jpg
outputs/gaussians/octave_5_level3.jpg
outputs/gaussians/octave_5_level4.jpg
outputs/gaussians/octave_5_level5.jpg
outputs/gaussians/octave_6_level0.jpg
outputs/gaussians/octave_6_level1.jpg
outputs/gaussians/octave_6_level2.jpg
outputs/gaussians/octave_6_level3.jpg
outputs/gaussians/octave_6_level4.jpg
outputs/gaussians/octave_6_level5.jpg
outputs/gaussians/octave_7_level0.jpg
outputs/gaussians/octave_7_level1.jpg
outputs/gaussians/octave_7_level2.jpg
outputs/gaussians/octave_7_level3.jpg
outputs/gaussians/octave_7_level4.jpg
outputs/gaussians/octave_7_level5.jpg
outputs/gaussians/octave_8_level0.jpg
outputs/gaussians/octave_8_level1.jpg
outputs/gaussians/octave_8_level2.jpg
outputs/gaussians/octave_8_level3.jpg
outputs/gaussians/octave_8_level4.jpg
outputs/gaussians/octave_8_level5.jpg
